*
{
         margin: 0px;
         padding: 0px;
}


.video-item {
    display: inline-block;
    align-items: center ;
    cursor: pointer;
    background: rgb(101, 219, 78);
    margin-right: 10vw;
    width: 500px;
}

.video-item.item img {
    max-width: 400px;
    max-height: 250px ;
    margin: 400px;
}
/* .ui-form{
      color: rgb(39, 236, 55);   
} */